.main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    // background-color: red;
    margin: 70px 0 0 50px;
    z-index: -3;
}

// .prueba{
//     position: relative;
//     width: 500px;
//     height: 500px;
//     border: 2px solid black;
//     margin: 200px
// }