
.contactsSection{
    position: relative;
    display: flex;
    flex-direction: column;
}
.contactsBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 82px;
    background-color: white;
    padding: 0 25px 0 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(211, 209, 209);
}

.contactsTable{
    width: 100%;
    height: 600px;
    background-color: white;
    padding: 0 25px 0 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(211, 209, 209);
}


.searchBar{
    display: flex;
    height: 44px;
    width: 450px;
    border-radius: 3px;
    border: 1px solid $blue5;
    box-shadow: inset 2px -3px 4px $lightgray;
}

.searchdiv{
    display: flex;
    align-items: center;
}


.contactsBar-btns-div{
    display: flex;
}

.contactsBar-btns{
    display: flex;
    align-items: center;
    width: auto;
    padding:0 15px 0 15px;
    height: 43px;
    margin-right: 20px;
    background-color: rgb(245, 245, 245);
    font-family: $raleway;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgb(211, 209, 209);
    cursor: pointer;
    transition: background-color 0s
}

.contactsBar-btns img{
    width: 22px;
    height:auto;
    margin-left: 10px;
}

.contactsBar-btns.new{
    width: 47px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: $blue4;
    color: white;
}

.contactsBar-btns:hover{
    background-color: $blue5;
    font-weight: 500;
    box-shadow: 2px 2px 3px rgb(156, 156, 156);
}

.contactsBar-btns.new:hover{
    background-color: $blue2;
}

.headerDivider{
    width: 100%;
    height: 1px;
    background-color: $lightgray;
}

.contactsTable{
    display: flex;
    flex-direction: column;
    font-family: $raleway;
    font-size: 14px;
}

.tableHeader{
    font-weight: 500;
}

.itemRow{
    font-weight: 300;
}


.tableRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.tableColumn{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tableColumn img{
    width: 40px;
    height: 17px;
}

.column1{
    width: 4%
}

.column8{
    width: 6%;
}

.itemRow .column8{
    font-size: 24px;
    cursor: pointer;
}

.itemRow .column8:hover{
    font-weight: 500;
}

.column7 img{
    height: 45px;
    width: auto;
    margin-left: 15px;
}


.contactsBar-btns.search{
    margin-left: 28px;
}

.searchOptions:hover{
    background-color: white;
}

.searchDetail{
    position: absolute;
    top: 82px;
    left: 15px;
    width: 470px;
    height: 315px;
    background-color:white;
    padding: 23px;
    padding-left: 31px;
    font-family: $raleway;
    font-size: 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 6px 6px rgb(211, 209, 209);

}

.searchDetail div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightgray;
}

.searchInput{
    width: 210px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid $lightgray;
    border-bottom: none;
}

.search img{
    width: 25px;
    margin: 0;
}

.searchOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -45px;
    width: 35px;
    height: 28px;
    background-color: white;
    border-radius: 4px;
}

.searchOptions img{
    width: 14px;
    opacity: 0.4;
}

.searchOptions:hover{
    background-color: $lightgray;
}

.searchInput{
    color: $shadow;
    font-family: $raleway;
}

.searchDetail.hidden{
    display: none;
}

.contactsSection.hidden{
    display: none;
}

.contactsBar-btns.search:hover{
    background-color: $blue4;
}

.indexBtns{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    margin: 0 55px 20px 0;
}

.indexContainer  {
    color: $blue2;
}

.indexArrow{
    width: 10px;
    height: auto;
    opacity: 0.7;
}

.arrowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgb(211, 209, 209);
    border-radius: 5px;
}

.arrowContainer:hover{
    background-color:white;
    box-shadow: 2px 2px 2px rgb(146, 146, 146);
}

