.loginscreen{
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient($blue1, $blue3);
    opacity: 0.7;
    z-index: 1;
}

.logincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 435px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    padding: 0 20px 0 20px;
}

.logincontainer img{
    width: 180px;
    margin: 60px 0 50px 0;
}

.logincontainer input{
    width: 100%; 
    margin-bottom: 10px; 
    background-color: rgb(242, 242, 248);
    border: none;
    outline: none;
    padding: 10px 0 10px 22px;
    font-size: 13px;
    color: black;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 25px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.logincontainer button{
    width: 100%; 
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border: 1px 1px solid rgba(0,0,0,0.3);
    border-radius: 25px;
    box-shadow: inset 1px -1px 4px $blue1;
    background-color: $blue3;
    color: white;
    cursor: pointer;
}

.logincontainer button:hover{
    background-color: $blue4;
    color: white;
}

.welcomeMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $raleway;
    font-weight: 400;
    font-size: 24px;
 }

.welcomeMsg p {
    position: relative;
    bottom: -20px
}

.welcomeMsg img{
    animation: Pop 0.5s;
}

@keyframes Pop{
    0%{width: 100px; opacity: 0;}
    50%{width: 220px; opacity: 0.7;}
    100%{width: 180px; opacity: 1;}
}

.loginErr{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    padding: 0 20px 0 20px;
    font-family: $raleway;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.loginErr img{
    width: 180px;
    animation: Pop 0.5s;
    margin: 40px 0 45px 0;
}

.loginErr p{
    margin-bottom: 30px;
}

.loginscreen.hidden{
    display: none;
}

